<!DOCTYPE html>
<meta charset="utf-8">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

{% block body %}

<center>
<div class="jumbotron" id="header">
<h1>Resume Translator</h1>
<p>Build and translate your resume</p>
</div>

<form action="{{ url_for('build_resume') }}" method=post>
    <dl>
      <div>
      <dt>Language:
        <select name="language">
          {% for item in languages %}
          <option value="{{ item }}">{{ item }}</option>
          {% endfor %}
        </select>
      </div>
      <div>
        <p></p>
      <dd><button type=submit class="btn btn-default">Go!</button>
      </div>
    </dl>
  </form>

</center>

{% endblock %}
