<!DOCTYPE html>
<meta charset="utf-8">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<script src="{{ url_for('static', filename = 'js/jquery-3.0.0.min.js') }}"></script>

{% block body %}

<!-- <center> -->
<div class="container-fluid bg-1 text-center">
<h1>Resume Translator</h1>
<h3>Build and translate your resume</h3>
</div>

<div class = "container-fluid content text-center">
<form action="{{ url_for('build_resume') }}" method=post>
      <div class="form-group text-center">
      <h4>Language:</h4>
        <select name="language" class="form-control">
          {% for item in languages %}
          {% if item == 'English' %}
          <option selected value="{{ item }}">{{ item }}</option>
          {% endif %}
          <option value="{{ item }}">{{ item }}</option>
          {% endfor %}
        </select>
      </div>
      <div>
        <p></p>
      <dd><button type=submit class="btn btn-custom">Go!</button>
      </div>
    </dl>
  </form>
</div>

<footer class="container-fluid about text-center"><a href="#">About Us</a>
</footer>
<!-- </center> -->

{% endblock %}
