<!DOCTYPE html>
<meta charset="utf-8">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<script src="{{ url_for('static', filename = 'js/jquery-3.0.0.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/questions.js') }}"></script>

{% block body %}
<div class="container">
<div class="page-header"><h1>Resume questions...</h1></div>

<div id="questions">

<form action="{{ url_for('resume') }}" method=post>
    <dl>
      {% for key in questions_ordered %}
      <div class="question" id = {{ loop.index }}>
        <p>{{ questions[key] }}</p>
        <input class="response form-control" id = "r{{ loop.index }}" type=text name={{ key }}>
        <p>Press enter to continue...</p>
        <div class="progress">
          <div class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="{{ loop.index}}"
            aria-valuemin="0" aria-valuemax="100" style="width:{{ (loop.index - 1)*9 }}%">

          </div>
        </div>
      </div>
      <p></p>
      {% endfor %}
      <dd><button type=submit class="btn-resume btn btn-default">Build Resume</button>
    </dl>
</form>

</div>

</div>


{% endblock %}
