<!DOCTYPE html>
<meta charset="utf-8">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="js/jquery-3.0.0.js"></script>


{% block body %}
<div class="container">
<div class="page-header"><h1>{{ answers['q_name']}}</h1></div>
<p>{{ answers['q_address'] }}</p>
<p>{{ answers['q_email'] }}</p>
<p>{{ answers['q_phone_number'] }}</p>
<h2>Objective</h2>
<p>I am interested in {{ answers['q_objective']}} looking for
  employment to utilize my skills of {{answers['q_skills1']}},
  {{answers['q_skills2']}}, and {{answers['q_skills3']}}.</p>
<h2>Education</h2>
<p>{{ answers['q_university']}} - {{ answers['q_graduation_year']}}</p>
<p>{{ answers['q_major']}}</p>
</div>

{% endblock %}
